<div id='static'>
<h1><strong>Edit <%= resource_name.to_s.humanize %></strong></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 
  <div><%= f.email_field :email, :placeholder => 'Email', :class => 'landing-form-field' %></div>

  <div><%= f.password_field :password, :placeholder => 'New Password', :class => 'landing-form-field' %><i>(leave blank if you don't want to change it)</i>
  </div>
 
  <div><%= f.password_field :password_confirmation, :placeholder => 'New Password Confirmation', :class => 'landing-form-field' %></div>

  <div><%= f.password_field :current_password, :placeholder => 'Current Password', :class => 'landing-form-field' %><i>(we need your current password to confirm your changes)</i></div>

  <div><%= f.submit "Update" , :class => 'btn submit'%></div>
<% end %>

<h1><strong>Cancel Account</strong></h2>

<!-- <h3 style='margin: 0 10px'>Unhappy?</h3> -->
<div style='margin: 25px 0'><%= link_to "Cancel my account", registration_path(resource_name), :class => 'btn submit', :confirm => "Are you sure?", :method => :delete %></div>

<!-- <%= link_to "Back", :back %> -->
</div>
