<div id='static'>
<h1><strong>Sign up</strong></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, :placeholder => 'Email', :class => 'landing-form-field' %></div>

  <div><%= f.password_field :password, :placeholder => 'Password', :class => 'landing-form-field' %></div>

  <div><%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'landing-form-field' %></div>
  
  </br>
  <div><%= f.submit "Sign up", :class => 'btn submit' %>
     <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>

</div>
