<div id='static'>
<h1><strong>Forgot your password?</strong></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, :placeholder => "Email Address", :class => "landing-form-field" %></div>
  </br>

  <div><%= f.submit "Reset Password", :class => 'submit btn' %>
     <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
</div>


