<%= render :partial => 'home/header_content' %>

<h1 class='light'> 
  <div class='devise-fields'>  
    <%= semantic_form_for :video, :method => 'POST', :html => {:multipart => true} do |f| %>   
      <%= f.error_messages %>

      <%= f.input :title %>
   
      <%= f.actions do %>
        <%= f.action :submit, :class => 'btn', :label => 'Save' %> 
      <% end %>

    <% end %>
  </div>
</h1>

<div class='main-divider'></div>

<h1 class='light'>TODO: Create 'Add Section' button with some JS </h1>
