<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav" style="margin-bottom: 20px">          
      <li class="main-sidenav-title">
        <a href="#frontpage" class="sidenav-title">Front Page</a>
      </li>
      <li class="main-sidenav-title">
        <a href="#technology" class="sidenav-title">Technology</a></li>
      <li class="main-sidenav-title">
        <a href="#business" class="sidenav-title">Business</a>
      </li>
      <li class="main-sidenav-title">
        <a href="#music" class="sidenav-title">Music</a>
      </li>
      <li class="main-sidenav-title">
        <a href="#local" class="sidenav-title">Local</a>
      </li>
      <li class="main-sidenav-title">
        <a href="#international" class="sidenav-title">International</a>
      </li>
      <li class="main-sidenav-title">
        <a href="#trending" class="sidenav-title">Trending</a>
        <ul class="nav">
          <li class="sidenav-subtitle"><a href="#trending-technology" class="subtitle">Technology</a></li>
          <li class="sidenav-subtitle"><a href="#trending-business" class="subtitle">Business</a></li>
          <li class="sidenav-subtitle"><a href="##trending-music" class="subtitle">Music</a></li>
          <li class="sidenav-subtitle"><a href="##trending-local" class="subtitle">Local</a></li>
          <li class="sidenav-subtitle"><a href="##trending-international" class="subtitle">International</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav bs-sidenav" style="padding: 10px 20px">
      <% if user_signed_in? %>
        &copy; <%= Time.now.year %> bluebird 
        <%= link_to 'Home', home_path, :class => "p5" %> 
        <%= link_to 'FAQ', static_path(:how_it_works), :class => "p5" %> <!-- this should probably link to the demo from the homepage -->
        <%= link_to 'About', static_path(:about), :class => "p5" %> 
      <% else %>
        &copy; <%= Time.now.year %> bluebird 
        <%= link_to 'Home', root_path, :class => "p5" %> 
        <%= link_to 'FAQ', static_path(:how_it_works), :class => "p5" %> <!-- this should probably link to the demo from the homepage -->
        <%= link_to 'About', static_path(:about), :class => "p5" %> 
      <% end %>
    </ul>
  </div>
</div>
<div class="col-md-9" style="top: 20px">
  <div id="frontpage">
    <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag("carousel-1.png", :alt => "900x500") %>
          <div class= "carousel-caption">
            <h3>First Featured Article</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("carousel-2.png", :alt => "900x500") %>
          <div class="carousel-caption">
            <h3>Second Featured Article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("carousel-3.png", :alt => "900x500") %>
          <div class="carousel-caption">
            <h3>Third Featured Article</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>
  <div class="page-header" id="technology">
  <h1>Technology</h1>
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>

