<div id='static'>
<h1><strong>Sign in</strong></h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> 
  <div><%= f.text_field :email, :placeholder => 'Email', :class => 'landing-form-field' %></div>

  <div><%= f.password_field :password, :placeholder => 'Password', :class => 'landing-form-field' %></div>
  </br>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :class => 'checkbox' %> <%= f.label :remember_me %></div>
  <% end -%>
  </br>
  <div><%= f.submit "Sign in", :class => 'btn submit' %>
     <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
</div>

