<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> 
  <p><%= f.email_field :email, :placeholder => 'Email', :class => 'landing-form-field' %></p>

  <p><%= f.password_field :password, :placeholder => 'Password', :class => 'landing-form-field' %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me, :class => 'checkbox' %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in", :class => 'btn submit' %>
     <%= render :partial => "devise/shared/links" %>
  </p>
<% end %>


