<div id='content'>
  <div class='logo-wrap'>
    <div class='homepage-logo'>
    </div>
  </div>
</div>

<div id='intro'>
  <div class='video'>
    <iframe src="http://player.vimeo.com/video/26178772" width="457" height="255" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  
  </div> <!-- <=intro video that describes theatr -->
  <div class='text'>
    <h1 class='m0'> Share and sell your movie across the interwebs. </h1>
    <h3> Distributing and monetizing your movie, without giving up a bunch of rights, has always been a pain in the ass. Not anymore. Keep control! <a href="#">See a demo</a>.</h3>
    <ul>
      <li class='homepage1'>
        <h4 class='bold'> Hosting, payment, and tech handled for you. </h4>
        <h5> Let us take care of the boring stuff so you can get back to creating movies.</h5>
      </li>
      <li class='homepage2'>
        <h4 class='bold'> Leverage your fans, followers, and friends. </h5>
        <h5> <i>You</i> are the distribution. No need to work with corporate suits and give up control. Use your existing networks to shoot for the stars. </h5> 
      </li>
    </ul>
  </div>
</div>

<div>
  <%= form_for(:user, :url => registration_path(:user)) do |f| %>
    <div class='signup'>
      <%= f.email_field :email, :placeholder => "Email Address", :class => "landing-form-field" %>
      <%= f.password_field :password, :placeholder => "Password", :class => "landing-form-field" %>
      <!-- <%= f.url_field :user, :value => ".theatr.co", :class => "landing-form-field" %> -->
      <%= f.submit 'Get Started!', :class => "submit btn" %>
    </div>
  <% end %>
</div>
