<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-md-offset-4 col-xs-6 col-sm-4 sidebar-offcanvas panel panel-default opacity">
      <div class="separator" style="text-align: center">
        <div class="logo"></div>
        <h3 style="color: white"> Never Miss A Headline</h3>
        <h4 style="color: white; font-weight: normal"> bluebird aggregates the headlines from your Twitter timeline so that you never miss what's important.</h4>
      </div>
       <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => "twitter-link btn btn-primary btn-lg btn-block twitter", :type => :button %>
    </div>

    <!-- <div class="col-xs-6 col-sm-4 sidebar-offcanvas panel panel-default opacity" id="sidebar" role="navigation" style="padding: 15px">
      <div class="separator"> 
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => "twitter-link btn btn-primary btn-lg btn-block twitter", :type => :button %>
      </div>
      <div>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class='form-group'>
          <%= f.text_field :email, :placeholder => "Email Address", :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %> 
        </div>     
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "color: white" %> 
              <%= f.submit 'Sign In', :class => "submit btn btn-medium btn-primary pull-right" %>
            </label>
          </div>   
        </div>
      <% end %>
      </div>
    </div>
  </div>-->

</div> 
      

