<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-8">
      <div class="jumbotron panel panel-default"></div>
    </div>
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas panel panel-default" id="sidebar" role="navigation" style="padding: 15px">
      <div class="separator">
      <button type="button" class="btn btn-primary btn-lg btn-block twitter">
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => "twitter-link" %>
      </button>
      </div>
      <div>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class='form-group'>
          <%= f.text_field :email, :placeholder => "Email Address", :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %> 
        </div>     
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
              <%= f.submit 'Sign In', :class => "submit btn btn-medium btn-primary pull-right" %>
            </label>
          </div>   
        </div>
      <% end %>
      </div>
    </div>
  </div>
<div> 
      
<!-- <div class="span9 mp010">
  <div class="span4 pull-right background background-with-text">
    <h4> New to bluebird? Sign Up! </h4>
    <div class="divider-horizontal"> </div> 
  </div>
</div> -->
