<div class="navbar navbar-fixed-bottom">
  <div class="container">
  <% if user_signed_in? %>
    <p class="col-md-offset-5">

      &copy; bluebird 
      <%= link_to 'Home', home_path, :class => "p5" %> 
      <%= link_to 'FAQ', static_path(:how_it_works), :class => "p5" %> <!-- this should probably link to the demo from the homepage -->
      <%= link_to 'About', static_path(:about), :class => "p5" %> 
  
    </p>
  <% else %>
    <p class="col-md-offset-5">

      &copy; bluebird 
      <%= link_to 'Home', root_path, :class => "p5" %> 
      <%= link_to 'FAQ', static_path(:how_it_works), :class => "p5" %> <!-- this should probably link to the demo from the homepage -->
      <%= link_to 'About', static_path(:about), :class => "p5" %> 
  
    </p>
  <% end %>
  </div>
</div>

