<nav>
<ul>
  <li>
    &copy; Theatr, Inc
    <%= link_to 'About', static_path(:about) %>
    <%= link_to 'Contact', static_path(:contact) %>
    <%= link_to 'Content Policy', static_path(:content_policy) %>
    <%= link_to 'Terms of Service', static_path(:terms_of_service) %>
    <%= link_to 'Privacy Policy', static_path(:privacy_policy) %>
  </li>
  </ul>
</nav>
