<% unless ['/homepage'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
  <% if user_signed_in? %>
    <div class='logo-wrap'>
      <a href="/home" class="profile-logo" title="Theatr.co Home">Theatr.co</a>
    </div>
  <% else %>
    <div class='logo-wrap'>
      <a href="/" class="profile-logo" title="Theatr.co Home">Theatr.co</a>
    </div>
  <% end %>
<% end %>

<nav class="nav">
  <ul>
    <% if user_signed_in? %>
    <li>
      <!-- Signed in as <%= current_user.email %> -->
      <%= link_to 'Sign Out', destroy_user_session_path, :class => 'signout' %>
      <%= link_to 'Settings', '#', :class => 'settings' %>
      <%= link_to 'Help Center', static_path(:faq), :class => 'help' %>
    </li>
    <% elsif params[:controller] == 'root' %>

    <script type="text/javascript">
      $(document).ready(function(){

        $('.user-name').click(function(e) {
          e.preventDefault();
          return $('.dropdown-menu').toggle();
        });

      });
    </script>

    <li>
      <div class="user-menu">
      <li class="user-name">
        <%= link_to 'Sign In', '#' %>
        <%= link_to raw("&#9662;"), '#' %>
      </li>
      <ul class="dropdown-menu sign-in">
        <li>  
          <%= form_for :user, :url => session_path(:user) do |f| %>
            <div></br>
              <%= f.email_field :email, :placeholder => "Email", :class => "dropdown-form-field" %>
            </div>
            <div>
              <%= f.password_field :password, :placeholder => "Password", :class => "dropdown-form-field" %>
            </div></br>
              <%= f.submit "Sign in", :class => "btn signin" %>
            </br></br> 
            <%= link_to "Forgot your password?", new_password_path(:user), :id => "forgot_password" %>
          <% end %>
        </li>
      </ul>
      </div>
    </li>
    <% else %>
    <li class='user-name'>
      <%= link_to 'Sign In', new_session_path(:user) %>
    </li>
    <% end %>
  </ul>
</nav>

