<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header" style="float: left"> 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- Be sure to leave the brand out there if you want it shown -->
      <% if user_signed_in? %>
        <%= link_to "bluebird", home_path, :class => "navbar-brand" %>
      <% else %>
        <%= link_to "bluebird", root_path, :class => "navbar-brand" %> 
      <% end %>
    </div>
    <!-- Everything you want hidden at 940px or less, add class="collapse navbar-collapse" -->
    <div>
      <% if user_signed_in? %>
        
        <div class="col-md-offset-6 collapse">
          <ul class ="nav navbar-nav" style="height: 50px; width: 50px">
            <li><a href="#" class="scrollup"></a></li> 
           <!-- <li><a href="#">Technology</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Local</a></li>
            <li><a href="#">International</a></li> -->
          </ul>
        </div> 
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% cache("profile_header", :expires_in => 24.hours) do  %>
                <%= image_tag $client.user.profile_image_url(:mini), :style => "margin-right: 10px" %> @<%= $client.user.screen_name %> 
              <% end %>
              <b class="caret"></b> 
            </a>
            <ul class="dropdown-menu pull-right">
              <li><%= link_to 'Settings', settings_path() %></li>
              <li><%= link_to 'FAQ', static_path(:how_it_works) %></li>
              <li><%= link_to 'About', static_path(:about) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
            </ul>
          </li>
        </ul>
      <% elsif params[:controller] == "root" %>
        <ul>
          <li>
          </li>
       </ul>
      <% else %>
        <ul class="nav navbar-nav pull-right">
          <%= link_to "", user_omniauth_authorize_path(:twitter), :class => "twitter-link btn btn-primary btn-lg btn-block twitter", :style => "width: 55px; height: 45px; margin: 2px 0 0 ", :type => :button, :rel => "tooltip", :title => "Sign in with Twitter"%>
        </ul>
      <% end %>
    </div>  
  </div>
</div>


