<!DOCTYPE html>
<html>
  <head>
    <title>bluebird</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
   
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %> 
  </head>

  <% if params[:controller] == 'root' %>
  <body class="root-controller">
  <% else %>
  <body>
  <% end %>
    <header>
      <%= render :partial => 'layouts/header' %> 
    </header>

    <% if params[:controller] == 'root' %>
      <div class="container-fluid">
        <div class = "row-fluid">
         <%= yield %>  
        </div>
      </div>
    <% else %> 
      <div class="container-fluid">
        <div class = "row-fluid">
          <div class= "span3"></div>
          <div class = "span9"> <% yield %></div>
        </div>
      </div>
    <% end %>

    <footer> 
      <%= render :partial => 'layouts/footer' %> 
    </footer>
  </body>
</html>
